
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Manrope", sans-serif;
}
.primary-btn{
    width: 200px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}

.container{
    width: 1240px;
    margin: 0 auto;
}
.tea-house-container{

    margin-top: 40px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.tea-house-title h1{
    width: 600px;
    height: 300px;
    font-weight: 800;
    font-size: 80px;
}
.tea-house-title p{
    width: 513px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 22px;
    color: rgb(119, 119, 119);
}

/* Our Featured Products css styles */

.featured-products-title h1{
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
    color: rgb(28, 28, 28);

}
.featured-products-title p{
    width: 901px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    color: rgb(119, 119, 119);
}
.featured-products-image{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 45px;
}
.featured-products-card{
    width: 267px;
    height: 391px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(244, 244, 244);
    padding: 30px 51px;
    /* border: 1px solid red; */
}
.featured-products-card img{
    width: 135px;
    height: 212px;
}
.featured-products-card h1{
    font-weight: 800;
    font-size: 25px;
    margin-top: 25px;
    color: rgb(28, 28, 28);
}
.featured-products-card  p{
    /* width: 208px; */
    height: 39px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 16px;
    margin-top: 18px;
}

