
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Manrope", sans-serif;
}
.primary-btn{
    width: 200px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background: radial-gradient(
        rgb(255, 0, 0) 0%,
        rgb(255, 137, 56) 100%
    );
}

.container{
    width: 1240px;
    margin: 0 auto;
}
.tea-house-container{

    margin-top: 40px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.tea-house-title h1{
    width: 600px;
    height: 300px;
    font-weight: 800;
    font-size: 80px;
}
.tea-house-title p{
    width: 513px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 22px;
    color: rgb(119, 119, 119);
}

/* Our Featured Products css styles */

.featured-products-title h1{
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
    color: rgb(28, 28, 28);

}
.featured-products-title p{
    width: 901px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    color: rgb(119, 119, 119);
}
.featured-products-image{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 45px;
}
.featured-products-card{
    width: 267px;
    height: 391px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(244, 244, 244);
    padding: 30px 51px;
    /* border: 1px solid red; */
}
.featured-products-card img{
    width: 135px;
    height: 212px;
}
.featured-products-card h1{
    font-weight: 800;
    font-size: 25px;
    margin-top: 25px;
    color: rgb(28, 28, 28);
}
.featured-products-card  p{
    /* width: 208px; */
    height: 39px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 16px;
    margin-top: 18px;
}

/* <!-- Great Tea, Freshly Presented  css styles--> */

.great-tea-section{
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
    gap: 25px;
    /* border: 1px solid red; */
}
.great-tea-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    /* position: relative; */
}
.reat-tea-fresh{
    width: 238px;
    height: 355px;
    border-radius: 10px;
    padding: 28px 30px 31px 31px;
    background-color: rgba(230, 166, 35, 0.1);
}
.reat-tea-fresh-2{
    width: 238px;
    height: 355px;
    border-radius: 10px;
    padding: 39px 46px 43px 46px;
    background-color: rgba(87, 118, 57, 0.1);
}
.ematy-card{
    width: 238px;
    height: 136px;
    background: radial-gradient(
        rgb(255, 0, 0) 0%,
        rgb(255, 137, 56) 100%
    );
    border-radius: 10px;
    border: 1px solid red;
}
.liner{
    background: radial-gradient(
        rgb(255, 137, 56) 0%,
        rgb(226, 22, 22) 100%
    );

}
.great-tea-container h1{
    width: 413px;
    height: 109px;
    font-weight: 800;
    font-size: 45px;
    color: rgb(28, 28, 28);
}
#grat-tea-title{
    width: 582px;
    height: 150px;
    line-height: 25px;
    /* border: 1px solid red; */
    margin-top: 20px;
    /* margin-bottom: 105px; */
    font-weight: 500;
    font-size: 16px;
    color: rgb(119, 119, 119);
}
.great-tea-container h4{
    width: 169px;
    height: 24px;
    font-weight: 800;
    font-size: 20px;
    color: rgb(28, 28, 28);
}
.great-tea-container p{
    width: 508px;
    height: 56px;
    line-height: 25px;
    margin-top: 26px;
    font-weight: 500;
    font-size: 16px;
    color: rgb(119, 119, 119);
}


/* Meet-Clients-section css styles */

.Meet-Clients-section{
    height: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: radial-gradient(
        rgb(255, 137, 56) 0%,
        rgb(226, 22, 22) 100%
    );
    gap: 40px;
    margin-top: 50px;
    border-radius: 12px;
}
.Meet-Clients-container{
    padding-left: 45px;
}
.Meet-Clients-container h1{
    width: 389px;
    height: 123px;
    font-weight: 800;
    font-size: 45px;
    color:  rgb(244, 244, 244);
}
.Meet-Clients-container p{
    width: 440px;
    height: 112px;
    font-weight: 500;
    font-size: 16px;
    color: rgb(244, 244, 244);
}
.Meet-Clients-container button{
    width: 139px;
    height: 56px;
    font-size: 20px;
    border-radius: 9px;
    border: none;
    color: rgb(255, 0, 0);
}
.client-image{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    padding: 3px;
    background-color: aliceblue;
}
#imge{
    margin-left: -25px;
    margin-bottom: -30px;
}
.Meet-Clients-title{
    width: 433px;
    height: 233px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: none;
}
.Meet-Clients-title p{
    width: 341px;
    height: 98px;
    font-size: 16px;
    color: rgb(119, 119, 119);
    padding: 31px 25px;
    align-items: center;
}
.Meet-Clients-title h3{
    font-size: 16px;
    margin-left: 25px;
    color: rgb(28, 28, 28);
}
/* responsive divice */

@media screen and (max-width: 576px) {
    .tea-house-container{
        flex-direction: column;
    }
    .featured-products-image{
        grid-template-columns: repeat(1, 1fr);
    }
    
}